/* Css Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.my-20{
    margin-top: 20px;
    margin-bottom: 20px;

}

.flex-container{
    width: 500px;
    height: 500px; 
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    /* Viene applicato lungo l'asse principale */
    flex-direction: column;
    /* Vene applicato lungo l'asse secondaria */
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: space-around;

    
}

.item{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: lightblue;

}